@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #212020;
    color: white;
    padding: 0.8rem;
}

main {
    display: grid;
    grid-template-columns: 400px 400px;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    gap: 5rem;
}

img {
    background-color: white;
    transition: transform 330ms ease-in;
}

svg {
    background-color: white;
    transition: transform 330ms ease-in;
}

img:hover {
    transform: scale(1.2);
    background-color: white;
    transition: transform 330ms ease-in-out;
}

svg:hover {
    transform: scale(1.2);
    background-color: white;
    transition: transform 330ms ease-in-out;
}

hr {
    display: none;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #212020;
    color: #fff;
    margin-top: 3rem;
    font-size: small;
}

.verbos-colour {
    margin-top: 0rem;
}

.cls-1 {
  fill: #5aa647;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
  stroke-width: 0px;
}

.cls-2 {
  fill: #a4232b;
}

.cls-3 {
  fill: #212020;
}

.cls-4 {
  fill: #e19e1e;
}

.cls-5 {
  fill: #f2cc14;
}

@media only screen and (max-width: 900px) {

  main {
    display: flex;
    flex-direction: column;
  }

  img {
    transition: transform 0ms ease-in;
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 1rem;
  }

  svg {
    transition: transform 0ms ease-in;
    background-color: rgba(255, 255, 255, 0);
  }

  img:hover {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0);
    transition: transform 0ms ease-in-out;
  }

  svg:hover {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0);
    transition: transform 0ms ease-in-out;
  }

  hr {
    clear:both;
    display: inline-block;
    width: 100;         
    background-color:#212020;
    height: 4px;
    margin: 2rem;
  }

  main {
    gap: 1rem;
  }

}